.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    inset: 0;
    overflow-y: auto;

    &_bar {
        width: 100%;
        height: 50px;
        background-color: #1677ff;
    }
}
